.navbar {
   align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: space-between;
      margin-bottom: 12%;
      padding: 2% 0;

}
.header .navbar-nav .button {
    margin-bottom: 0px;
    padding: 10px;
    display: inline-block;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.5); 
}

.navbar-logo {
	display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff; 
}

.call {
     padding-left: 20px;
     text-decoration: none;
      color: #fff; 
      position: relative;
}

.call:before {
    position: absolute;
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    top: 30%;
    left: 3%;
    background: url("../images/sprites.png") no-repeat -126px 0;
}

.call:hover:before {
    background:  url("../images/sprites.png") no-repeat -148px 0;
    
}

.navbar-logo .navbar-logo-image{
	font-size: 29px; 
	text-transform: uppercase;
	font-family: 'ProximaNova-Bold', sans-serif;
    color: #fff; 
}

.navbar-logo-image {
	display: block;
    border-right: 1px solid #4e6969;
    padding-right: 20px; 
}

.navbar-toggler {
   display: none;
} 

.navbar-nav {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: flex-end;
}

.navbar-collapse > li {
    display: inline-flex;
}

.navbar-collapse > li > a {
	display: block;
	padding: 10px 2%;
	color: #c6cccc;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}

.navbar-collapse > li > a.active {
	color: #fff;
}

@media (max-width: 790px) {
     .navbar-collapse {
            display: none;
         }

     .navbar-toggler {
     	display: block;
     }  

     .navbar-collapse li {
        display: block;
        background: rgba(225, 225, 225, 0.5);
     }
}
/*
.navbar-logo-image {}
.navbar-nav {}
.navbar-nav > li {}
.navbar-nav > li > a {}
.navbar-toggler {}
.navbar-collapse {}