.section {
	padding: 4% 0;
	color: #8cadaa;
	font-size: 14px;
}

.section-header,
.section-bottom {
    display: flex;
    flex-direction: column;
    margin-bottom: 4%;
    padding: 0 17%;
    text-align: center;
    width: 100%;
}

.section-bottom {
	margin-bottom: 0;
}

.section-body {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.gray {
	background: #eef1ec;
}

.section-description,
.map .section-description {
    font-size: 14px;
    margin: 1em 0;
}

.section-box,
.section-img {
	width: 47%;
}

.section-img {
	line-height: 0;
	font-size: 0;
}

.section-title,
.section-title-smaller {
  font-size: 32px;
  color: #0f5f5c;
  margin: 0.5em 0;
}

/*header*/

.header {
  -webkit-background-size: 100% ;
  background-size: 100%;
  background-size: cover;
  position: relative;
  display: block;
  z-index: -1;
}

.header:before {
	position: absolute;
	content: "";
	display: block;
	left: 0;
	right: 0;
	top: 0;
	background-color: #296365;
	opacity: 0.5;
	z-index: 10;
}

.header .section {
	color: #fff;

}

.header .header-section-body {
    width: 50%;
}

.header-section-box {
    width: 100%;
}

.header-section {
	color: #ccc;
}

.section-title-header {
 	margin-bottom: 20px;
 }

.section-description-header {
	font-size: 16px;
    margin-bottom: 20px;
}

/* header about*/
.head-about {
	padding: 0 0 5%;
}

.head-about .section-description-header {
     font-size: 50px;
     margin-bottom: 4%;
} 

.about-us .download {
	-webkit-background-size: 100%;
	background-size: 100%;
	background-size: cover;
}

.about-us .section.download {
	color: #fff;
}

/* header home*/
  .home .header-section-box {
      padding-bottom: 20%;
  }

/* header pricing*/
.pricing .navbar {
	margin-bottom: 0;
}

.pricing .section-header {
	padding: 0 29%;
	margin-bottom: 2%;
}

.pricing .card-price-list .card-item{
	background: #fff;
}

.pricing .section.plans {
	  padding: 4% 0;
}

/*bg-main
.bg1 {
	background: url("../images/bg1.jpg") no-repeat 0 0;
	background-size: cover; 
}
/*
.overlay {
    background: url("../images/bg1.jpg") no-repeat 0 0;
	background-size: cover;  
}

/*help*/
.help {
	padding: 0;
}

.help .section-header {
   margin-bottom: 0;
}

.help .section-title {
	color: #6fb048;
}

.e-mail {
	font-size: 18px;
	display: block;
	padding: 30px;
	box-sizing: border-box;
	color: #0f5f5c;
}

.section-title-smaller,
.review .section-description {
    font-size: 22px;
}

.download .section-title,
 .section-title-header {
	font-size: 28px;
}

.section-title-description {
	font-size: 15px; 
	font-weight: bold;
	margin-bottom: 2%;
	margin: 0.4em 0;
}

.section .dot {
	margin-right: 4%;
}

 .lists-item-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -20px 20px;
}

 .list-item-holder {
 	width: 33.33%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    margin-bottom: 20px;
 }

.list-item {
	align-items: center;
    display: flex;
    margin-bottom: 2%;
    width: 100%;

}

.border-bottom img {
	text-align: center;
	margin-bottom: 2%;
}

/*hand*/
.hand {
	padding-bottom: 0;
}

.hand .section-box {
	margin: 5.4em 0;
}

/*review*/
.review .section-body {
    display: flex;
    justify-content: space-between;   
}

.review .section-description {
	font-family: 'Merriweather', serif;
	color: #a7bfbe;
}

.review .section-name {
    color: #6fb048;
}

/*map*/
.map .section-body {
   justify-content: space-between; 
}

.plans {
	padding-top: 0;
}

.map .section-box {
	padding-left: 12%;
}

/*download*/
.download {
	background: url("../images/bg3.png") no-repeat 0 0;
	background-size: cover; 
}
.download .section-title {
     margin-bottom: 0; 
}
/*about*/
/*
.about .header-section-box {
	justify-content: center;
	text-align: center;
	display: flex;
}


/* header contact us*/
  .contact-us .navbar {
  	color: #8daeac;
  	margin-bottom: 0;
  }

.contact-us .navbar-logo a {
    	color: #0f5f5c;
   }

.contact-us .navbar-collapse li a {
    color: #c6cccc;
}

.section.map {
   	padding: 0;
   }

.map-holder {
	width: 100%;
}

.map-holder iframe {
	width: 100%;
    height: auto;
}

.contact-us .contact .section-header {
	margin-bottom: 7%;
	padding: 0 26%;
}

.contact-us .contact .section-box {
    justify-content: flex-start;
}

.contact-us .send-message .holder {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin-bottom: 5%;
	padding: 15px 21px;
	border: 1px solid #c1d3d2;
	resize: vertical;
	color: #83a7a5;
	box-shadow: -webkit-box-shadow: -4px 13px 9px -9px rgba(232,232,232,1);
-moz-box-shadow: -4px 13px 9px -9px rgba(232,232,232,1);
box-shadow: -4px 13px 9px -9px rgba(232,232,232,1);
}

.contact-us .send-message {
      margin-bottom: 40px;
}

.contact-us .send-message .textarea {
	min-height: 124px;
}

.contacts .section-title-smaller {
	text-transform: uppercase;
	color: #0f5f5c;
}

.contact .section-body {
    align-items: flex-start;
}

.contacts {
	background: rgba(0, 0, 0, 0) url("../images/border-contact.png") no-repeat scroll 0 0;
    min-height: 277px;
    padding: 36px 41px;
    width: 50%;
}

.address {  
    padding-left: 5%;
}

.address a, span {
	display: block;
	font-family: "Roboto Regular", sans-serif;
	color: #54524f;
	margin-bottom: 15px;
}

.address a {
	position: relative;
}

.address a:before {
	position: absolute;
	display: block;
	content: "";
	background: url('../images/sprites.png') no-repeat -176px 0;
	width: 18px;
	height: 20px;
	top: 0;
	left: -5%;
}

.address a.phone:before {
    background-position: -148px 0; 
}

.address a.email:before {
    background-position:  -201px 0; 
}

.address .location {
	margin-bottom: 20px;
}

.address a span {
	display: block;
}

.about-us .section.download .section-body .section-title{
     	color: #fff;
}

/*footer*/
.footer {
    font-size: 13px;
}

.footer .input-email {
    display: block;
    min-width: 200px;
    padding: 6px;
    border-radius: 3px;
    background-color: #eef1ec;
    position: relative;
}

.footer .input-email:after {
	position: absolute;
	display: block;
	content: "";
	background: url('../images/sprites.png') no-repeat -103px 0;
	width: 18px;
	height: 18px;
	top: 0;
	right: 0;
}

.footer .section {
   border-bottom: 1px solid #eef1ec;
}

.footer-title,
.footer-title-logo {
    color: #0f5f5c;
    margin-bottom: 25px;
}

.footer-title-logo {
    font-size: 22px;
    text-transform: uppercase;
}

.footer-list {
	margin-bottom: 16px;
}

.columns-footer {
	list-style: none;
	margin: 0;
	padding: 0;
	align-items: flex-start;
}

.columns-footer .column {
	width: 25%;
}

.footer-bottom .section-box {
	width: 50%;
}

.footer-bottom .section-box .soc {
    float: right;
}

.footer-bottom .section-box i {
	padding: 0 5px;
	display: inline-block;
}

.footer-bottom .section-box i a {
     display: inline-block;
     background: url('../images/sprites.png') no-repeat 0 -55px;
	 width: 30px;
	 height: 30px;
}

.footer-bottom .section-box i .fb {
	background-position: -40px -55px;
}

.footer-bottom .section-box i .inst {
	background-position: -80px -55px;
}
.footer-bottom .section-box i .ball {
	background-position: -120px -55px;
}
.footer-bottom .section-box i .git {
	background-position: -160px -55px;
}

@media (max-width: 1280px) {
     .map .section-box {
	   padding-left: 9%;
  }
}

@media (max-width: 980px) {
	 .map .section-box {
	   padding-left: 6%;
  }
}	

@media (max-width: 955px) {
	.hand .section-box {
	margin: 2.4em 0;
   }
.columns-footer .column {
	width: 50%;
	margin: 0 auto 50px;
	text-align: center;
   }
}

@media (max-width: 770px) {
	.hand .section-box {
	margin: 1.4em 0;
   }
   
   .list-item-holder {
   	   width: 50%;
   }
}

@media (max-width: 672px) {
	.section-img {
		display: flex;
		justify-content: center;
	}
	.section-box,
    .section-img {
	width: 100%;
   }
   .hand {
	padding-bottom: 4%;
   }
 .hand .section-box {
	padding-top: 4%; 
  }
  .list-item-holder {
   	   width: 60%;
   }
}

/*
.section-header {}
.section-body {}

